body {
  background: #fff5ee;
}
header {
  background: #ff9966;
  margin: 50px;
  text-align: center;
  color: #f0ead6;
  font-size: 25px;
}
p {
  font-size: 20px;
}
.info {
  background: #915c83;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #888;
  text-align: center;
  color: #f08080;
}
img {
  border: 2px solid #873260;
}
